:host{
    position: fixed;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}
main{
    aspect-ratio: 16 / 9;
}
.fps{
    font-size: 2rem;
    margin: 8px;
    position: absolute;
    color: white;
}
section{
    height: 100%;
    > *{
        height: 100%;
        display: block;
    }
}


    
